body {
    font-family: 'Courier New', Courier, monospace;
}

th, td {
    background: pink;
    width: 40px;    /* （ブロック要素の）高さを指定 */
    height: 40px;
    text-align: center;
    line-height: 40px;    /* 文字の行の高さを指定 */
    
    /* heightとline-heightを同じ値にする
    ⇒文字を上下中央に揃えるため */
}